*
!.gitignore
!modules
modules/*
!modules/gateways
modules/gateways/*
!modules/gateways/callback
modules/gateways/callback/*
!modules/gateways/callback/cardgateplus.php
!modules/gateways/cgp_afterpay.php
!modules/gateways/cgp_banktransfer.php
!modules/gateways/cgp_billink.php
!modules/gateways/cgp_bitcoin.php
!modules/gateways/cgp_creditcard.php
!modules/gateways/cgp_directdebit.php
!modules/gateways/cgp_giftcard.php
!modules/gateways/cgp_giropay.php
!modules/gateways/cgp_ideal.php
!modules/gateways/cgp_idealqr.php
!modules/gateways/cgp_klarna.php
!modules/gateways/cgp_mistercash.php
!modules/gateways/cgp_onlineueberweisen.php
!modules/gateways/cgp_paypal.php
!modules/gateways/cgp_paysafecard.php
!modules/gateways/cgp_paysafecash.php
!modules/gateways/cgp_przelewy24.php
!modules/gateways/cgp_sofortbanking.php
!modules/gateways/cgp_generic.php
!tests/
!tests/bootstrap.php
!tests/phpunit.xml
!README.md
!README_DE.md
!README_NL.md
!composer.json
!.travis.yml
!phpunit.xml.dist